<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjy.web.mapper.CounselorStudentMapper">
    <resultMap id="BaseResultMap" type="com.xcjy.web.bean.CounselorStudent">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="employee_id" jdbcType="VARCHAR" property="employeeId"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="baseSql">
    id, school_id, employee_id, student_id, money, status, create_time, update_time, deleted
  </sql>

    <insert id="insert" parameterType="com.xcjy.web.bean.CounselorStudent">
    insert into counselor_student (id, school_id, employee_id,
      student_id, money, status, 
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
    <insert id="insertBatch">
        insert into counselor_student (id, school_id, employee_id,
        student_id, money, status,
        create_time, update_time, deleted
        ) VALUES
        <foreach collection="list" item="stu" separator=",">
            (#{stu.id,jdbcType=VARCHAR}, #{stu.schoolId,jdbcType=VARCHAR}, #{stu.employeeId,jdbcType=VARCHAR},
            #{stu.studentId,jdbcType=VARCHAR}, #{stu.money,jdbcType=INTEGER}, #{stu.status,jdbcType=VARCHAR},
            #{stu.createTime,jdbcType=TIMESTAMP}, #{stu.updateTime,jdbcType=TIMESTAMP}, #{stu.deleted,jdbcType=BIT}
            )
        </foreach>
    </insert>
    <update id="updateMoney" parameterType="com.xcjy.web.bean.CounselorStudent">
        UPDATE counselor_student SET
        money = #{money},
        status = #{status},
        update_time = #{updateTime}
        WHERE id = #{id} AND deleted = false;
    </update>
    <update id="updaStatus">
        UPDATE counselor_student SET
        status = #{counselorStudent.status},
        update_time = #{counselorStudent.updateTime}
        WHERE id = #{counselorStudent.id} AND deleted = false;
    </update>

    <select id="getByEIdStuIdScId" resultType="com.xcjy.web.bean.CounselorStudent">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student WHERE school_id = #{schoolId} AND employee_id = #{employeeId} AND
        student_id IN
        <foreach collection="studentIds" item="studentId" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </select>

    <select id="getByStudentIds" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student WHERE
        student_id IN
        <foreach collection="studentIds" item="studentId" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </select>

    <select id="getCS" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student
        WHERE school_id = #{schoolId}
        AND employee_id = #{employeeId}
        AND student_id = #{studentId}
    </select>

    <select id="getByEmployeeId" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student WHERE employee_id = #{employeId};
    </select>

    <select id="getSIdByEmployeeId" resultType="java.lang.String">
        SELECT
        student_id
        FROM counselor_student WHERE employee_id = #{employeId} ORDER BY create_time DESC;
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student
    </select>

    <select id="getByTimeAndType" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student
        WHERE status = #{type}
        <if test="startTime != null">
            AND update_time >= #{startTime}
        </if>
        <if test="startTime != null">
            AND update_time &lt;= #{endTime}
        </if>
    </select>

    <select id="getByTime" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student
        <where>
            <if test="startTime != null">
                update_time >= #{startTime}
            </if>
            <if test="startTime != null">
                AND update_time &lt;= #{endTime}
            </if>
        </where>
    </select>
    <select id="getStudentNumByEIds" resultType="com.xcjy.web.controller.res.CounselorStuNumModel">
        SELECT
        COUNT(1) studentNum,
        employee_id employeeId
        FROM counselor_student WHERE employee_id IN
        <foreach collection="employeeIds" item="employeeId" open="(" separator="," close=")">
            #{employeeId}
        </foreach>
        GROUP BY employee_id;
    </select>

    <select id="getStuIdAndEmpId" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student WHERE  student_id = #{studentId} AND employee_id = #{employeId}
    </select>

    <select id="getByStudentId" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM counselor_student WHERE  student_id = #{studentId}
    </select>

</mapper>