<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjy.web.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.xcjy.web.bean.Employee">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="graduation_school" jdbcType="VARCHAR" property="graduationSchool"/>
        <result column="specialty" jdbcType="VARCHAR" property="specialty"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="clamant_name" jdbcType="VARCHAR" property="clamantName"/>
        <result column="clamant_phone" jdbcType="VARCHAR" property="clamantPhone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="baseSql">
        id, school_id, name, sex, birthday, id_card, education,
        graduation_school, specialty, phone, email, clamant_name, clamant_phone,
        address, remark, create_time, update_time, deleted
    </sql>

    <insert id="insert" parameterType="com.xcjy.web.bean.Employee">
    insert into employee (id, school_id, name, 
      sex, birthday, id_card, 
      education, graduation_school, specialty, 
      phone, email, clamant_name, 
      clamant_phone, address, remark, 
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{idCard,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{graduationSchool,jdbcType=VARCHAR}, #{specialty,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{clamantName,jdbcType=VARCHAR}, 
      #{clamantPhone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> FROM employee
    </select>

    <update id="update">
        UPDATE employee SET
        name = #{employee.name},
        sex = #{employee.sex},
        birthday = #{employee.birthday},
        id_card = #{employee.idCard},
        education = #{employee.education},
        graduation_school = #{employee.graduationSchool},
        specialty = #{employee.specialty},
        phone = #{employee.phone},
        email = #{employee.email},
        clamant_name = #{employee.clamantName},
        clamant_phone = #{employee.clamantPhone},
        address = #{employee.address},
        remark = #{employee.remark},
        update_time = #{employee.updateTime}
        WHERE id = #{employee.id} AND deleted = FALSE;
    </update>

    <select id="getById" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> WHERE id = #{id};
    </select>

    <update id="deleteLogic">
        UPDATE deleted = TRUE ,update_time = #{updateTime} WHERE id = #{id};
    </update>

</mapper>