<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjy.web.mapper.GradeMapper">
    <resultMap id="BaseResultMap" type="com.xcjy.web.bean.Grade">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="baseSql">
        id, school_id, name, price, remark, create_time, update_time, deleted
    </sql>

    <insert id="insert" parameterType="com.xcjy.web.bean.Grade">
    insert into grade (id, school_id, name, price,
      remark, create_time, update_time, 
      deleted)
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT})
  </insert>

    <update id="update" parameterType="com.xcjy.web.bean.Grade">
        UPDATE grade SET
        name = #{name},
        price = #{price},
        remark = #{remark},
        update_time = #{updateTime}
        WHERE id = #{id}
    </update>
    <delete id="deleteLogic">
        UPDATE grade SET deleted = TRUE , update_time = #{updateTime} WHERE id = #{id};
    </delete>

    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM grade WHERE id = #{id}
    </select>

    <select id="getByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM grade WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getAll" resultMap="BaseResultMap">
        SELECT
         <include refid="baseSql"/>
        FROM grade
    </select>
</mapper>