<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjy.web.mapper.SchoolMapper">

    <resultMap id="BaseResultMap" type="com.xcjy.web.bean.School">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="baseSql">
        id, name, remark, create_time, update_time, deleted
    </sql>

    <insert id="insert" parameterType="com.xcjy.web.bean.School">
    insert into school (id, name, remark, 
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>

    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM school WHERE id = #{id};
    </select>

    <update id="update">
        UPDATE school SET
        name = #{school.name},
        remark = #{school.remark},
        update_time = #{school.updateTime}
        WHERE id = #{school.id} AND deleted = FALSE;
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> FROM school
    </select>

    <select id="getByIds" resultMap="BaseResultMap">
        SELECT <include refid="baseSql"/> FROM school
        WHERE id
        IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>

</mapper>