<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjy.web.mapper.StmanagerStudentMapper">
    <resultMap id="BaseResultMap" type="com.xcjy.web.bean.StmanagerStudent">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="student_id" jdbcType="VARCHAR" property="studentId"/>
        <result column="employee_id" jdbcType="VARCHAR" property="employeeId"/>
        <result column="renew_money" jdbcType="INTEGER" property="renewMoney"/>
        <result column="back_money" jdbcType="INTEGER" property="backMoney"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="baseSql">
      id, school_id, student_id, employee_id, renew_money, back_money, create_time, update_time, deleted
    </sql>

    <insert id="insert" parameterType="com.xcjy.web.bean.StmanagerStudent">
    insert into stmanager_student (id, school_id, student_id, 
      employee_id, renew_money, back_money, 
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, 
      #{employeeId,jdbcType=VARCHAR}, #{renewMoney,jdbcType=INTEGER}, #{backMoney,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
    <insert id="insertBatch">
        insert into stmanager_student (id, school_id, student_id,
        employee_id, renew_money, back_money,
        create_time, update_time, deleted
        )values
        <foreach collection="list" item="stu" separator=",">
            (#{stu.id,jdbcType=VARCHAR}, #{stu.schoolId,jdbcType=VARCHAR}, #{stu.studentId,jdbcType=VARCHAR},
            #{stu.employeeId,jdbcType=VARCHAR}, #{stu.renewMoney,jdbcType=INTEGER}, #{stu.backMoney,jdbcType=INTEGER},
            #{stu.createTime,jdbcType=TIMESTAMP}, #{stu.updateTime,jdbcType=TIMESTAMP}, #{stu.deleted,jdbcType=BIT}
            )
        </foreach>
    </insert>

    <update id="updateMoney">
      UPDATE stmanager_student SET
      renew_money = #{stmanagerStudent.renewMoney},
      back_money = #{stmanagerStudent.backMoney},
      update_time = #{stmanagerStudent.updateTime}
      WHERE id = #{stmanagerStudent.id} AND update_time = #{infoTime} AND deleted = FALSE;
    </update>

    <update id="change">
        UPDATE stmanager_student
        SET employee_id = #{des}
        WHERE employee_id = #{origin};
    </update>

    <delete id="deleteRelation">
        UPDATE stmanager_student
        SET deleted = TRUE,
        update_time = #{updateTime}
        WHERE
        id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteRelationByStudentIds">
        UPDATE stmanager_student
        SET deleted = TRUE,
        update_time = #{updateTime}
        WHERE student_id = #{studentId};
    </delete>

    <select id="getBySIdAndScIds" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM stmanager_student WHERE school_id = #{schoolId} AND student_id IN
        <foreach collection="studentIds" item="studentId" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </select>

    <select id="getBySES" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM stmanager_student WHERE school_id = #{schoolId} AND employee_id = #{employeeId} AND student_id =
        #{studentId};
    </select>

    <select id="getSIdByEmployeeId" resultType="java.lang.String">
        SELECT
        student_id
        FROM stmanager_student WHERE employee_id = #{employeeId};
    </select>

</mapper>