<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjy.web.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.xcjy.web.bean.Student">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="school_id" jdbcType="VARCHAR" property="schoolId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="orign_school" jdbcType="VARCHAR" property="orignSchool"/>
        <result column="grade" jdbcType="VARCHAR" property="grade"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="parent_name" jdbcType="VARCHAR" property="parentName"/>
        <result column="parent_sex" jdbcType="VARCHAR" property="parentSex"/>
        <result column="parent_id_card" jdbcType="VARCHAR" property="parentIdCard"/>
        <result column="parent_phone" jdbcType="VARCHAR" property="parentPhone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="already_paid" jdbcType="VARCHAR" property="alreadyPaid"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>

    <sql id="baseSql">
        id, school_id, name, id_card, sex, orign_school, grade, birthday, subject,
        source, phone, parent_name, parent_sex, parent_id_card, parent_phone, address,
        remark, create_time, update_time, already_paid, deleted
    </sql>

    <insert id="insert" parameterType="com.xcjy.web.bean.Student">
    insert into student (id, school_id, name, 
      id_card, sex, orign_school, 
      grade, birthday, subject, 
      source, phone, parent_name, 
      parent_sex, parent_id_card, parent_phone, 
      address, remark, create_time, 
      update_time, already_paid, deleted)
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{orignSchool,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{subject,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{parentName,jdbcType=VARCHAR}, 
      #{parentSex,jdbcType=VARCHAR}, #{parentIdCard,jdbcType=VARCHAR}, #{parentPhone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{alreadyPaid}, #{deleted,jdbcType=BIT})
  </insert>

    <insert id="insertBatch">
        insert into student (id, school_id, name,
        id_card, sex, orign_school,
        grade, birthday, subject,
        source, phone, parent_name,
        parent_sex, parent_id_card, parent_phone,
        address, remark, create_time,
        update_time, already_paid, deleted)
        values
        <foreach collection="students" item="student" separator=",">
            (#{student.id,jdbcType=VARCHAR}, #{student.schoolId,jdbcType=VARCHAR}, #{student.name,jdbcType=VARCHAR},
            #{student.idCard,jdbcType=VARCHAR}, #{student.sex,jdbcType=VARCHAR},
            #{student.orignSchool,jdbcType=VARCHAR},
            #{student.grade,jdbcType=VARCHAR}, #{student.birthday,jdbcType=DATE}, #{student.subject,jdbcType=VARCHAR},
            #{student.source,jdbcType=VARCHAR}, #{student.phone,jdbcType=VARCHAR},
            #{student.parentName,jdbcType=VARCHAR},
            #{student.parentSex,jdbcType=VARCHAR}, #{student.parentIdCard,jdbcType=VARCHAR},
            #{student.parentPhone,jdbcType=VARCHAR},
            #{student.address,jdbcType=VARCHAR}, #{student.remark,jdbcType=VARCHAR},
            #{student.createTime,jdbcType=TIMESTAMP},
            #{student.updateTime,jdbcType=TIMESTAMP}, #{student.alreadyPaid}, #{student.deleted,jdbcType=BIT})
        </foreach>
    </insert>

    <update id="update" parameterType="com.xcjy.web.bean.Student">
        UPDATE student SET
        name = #{name},
        id_card = #{idCard},
        sex = #{sex},
        orign_school = #{orignSchool},
        grade = #{grade},
        birthday = #{birthday},
        subject = #{subject},
        source = #{source},
        phone = #{phone},
        parent_name = #{parentName},
        parent_sex = #{parentSex},
        parent_id_card = #{parentIdCard},
        parent_phone = #{parentPhone},
        address = #{address},
        already_paid = #{alreadyPaid},
        remark = #{remark},
        update_time = #{updateTime}
        WHERE id = #{id} AND deleted = FALSE;
    </update>

    <update id="deleteLogic">
        UPDATE student SET deleted = TRUE, update_time = #{updateTime} WHERE id = #{id}
    </update>

    <update id="updateSchoolId">
        UPDATE student SET
        school_id = #{student.schoolId},
        update_time = #{student.updateTime}
        WHERE id = #{student.id} AND deleted = FALSE;
    </update>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM student;
    </select>

    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM student WHERE id = #{id};
    </select>

    <select id="getByIds" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM student WHERE id
        IN
        <foreach collection="ids" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </select>
    <select id="getByIdCard" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM student WHERE id_card = #{idCard};
    </select>

</mapper>