<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcjy.web.mapper.StudentCourseTeacherMapper">
  <resultMap id="BaseResultMap" type="com.xcjy.web.bean.StudentCourseTeacher">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="school_id" jdbcType="VARCHAR" property="schoolId" />
    <result column="student_id" jdbcType="VARCHAR" property="studentId" />
    <result column="employee_id" jdbcType="VARCHAR" property="employeeId" />
    <result column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <insert id="insert" parameterType="com.xcjy.web.bean.StudentCourseTeacher">
    insert into student_course_teacher (id, school_id, student_id, 
      employee_id, course_id, create_time, 
      update_time, deleted)
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, 
      #{employeeId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
</mapper>